# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.uv/
.env
.env.*

# Java / Gradle
.gradle/
build/
*.class
*.jar

# Windows
*.bat
*.cmd
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# Misc
.DS_Store
!/.env.example
